<!doctype html>
<html>
  <head>
    <title>New York City Schools</title>
  </head>
  <body>
    <p><strong>Navigation:</strong> <a href="/">Home</a> <a href="mailto:contact@example.com">Contact me</a></p>
    {% block content %}{% endblock %}
    <p>&copy; 2015 Incredible Schools Site LLC</p>
  </body>
</html>